* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFECEC;
  color: #000000;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}
a {
  text-decoration: none;
  color: #000000;
}
ul {
  list-style: none;
}
@media (max-width: 768px) {
  body {
      background: url(img/mobile_background.jpg);
  }
}
/****** CONTENIDO *******/
.contenido {
  width: 90%;
  margin: auto;
}
/****** NAVEGACIÓN ******/
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

/****** BUSCADOR ******/
/* .search {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  float: right;
  background: initial;
  padding: 5px;
  border-radius: 5px;
} */
@media (max-width: 768px) {
  .box {
    display: none;
  }
}

/* .search .btn_search {
  background: #FEA584;
  color: #ffffff;
  padding: 0 5px;
  border: 0;
  cursor: pointer;
  margin-left: 5px;
}
@media (max-width: 768px) {
  .search .btn_search {
    display: none;
  }
} */

.nav-brand {
  width: 50px;
}
/****** NAV_LEFT ******/
.nav-main ul {
  display: flex;
}
.nav-main ul li {
  padding: 10px;
}
.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}
.nav-main ul li a {
  padding: 2px;
}
.mov {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  -webkit-transition: background-size .3s;
  -moz-transition: background-size .3s;
  -ms-transition: background-size .3s;
  -o-transition: background-size .3s;
}
.mov:hover, .mov:focus {
  background-size: 100% 2px;
}
.nav-main ul li a:hover {
  color: #F5B4C8;
  transform: scale(2.0);
}
.menu-btn{
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
}
/****** SHOWCASE ******/
hr {
  margin: 10px 0;
}
.showcase {
  width: 100%;
  height: 550px;
  color: #000000;
  background: url('../img/header.jpg') no-repeat center center/cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  text-align: center;
}
.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  color: #ffffff;
  background: #FF4E56;
  border: 1px solid;
  margin: 10px 0;
}
.btn:hover {
  opacity: 0.5;
}
.boton-rojo { 
  background-color: #FF4E56;
}
.showcase h2,
.showcase p {
  margin-bottom: 10px;
}
.showcase p { color: #000000;}

/****** CONTENEDOR ******/
.Noticias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 20px 0;
}
.Noticias img {
  width: 100%;
  height: 250px;
}
@media (max-width: 768px) {
  .Noticias img {
    width: 100%;
    height: 160px;
  }
}
.Noticias h3 {
  font-size: 20px;
  margin: 10px 0;
}
.center {
  text-align: center;
}
.mov2{
  display: block; 
  margin: auto;
  padding: 1px;
}
.mov2:hover{ transform: scale(1.5);}
.mov2{ transition: transform 0.5s;}

.categoria { color: #FA000A;}

.color:hover {
  color: #FF333C;
  transition: 0.5s;
}
main h2 {
  text-align: center;
}
.contenedor{
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.content {
  padding: 5px;
  text-align: center;
}
.content h3, .content p {
  padding: 0;
}

@media(max-width: 768px) {
  .ocultar {
    display: none;
  }
}
/****** Recomendación de cena ******/
.rec {
  width: 100%;
  height: 350px;
  background: url("../img/Cena-romantica.jpg") no-repeat center center/cover;
  margin-bottom: 40px;
}
.rec .recomendacion {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #ffffff;
}
.rec h2,
.rec p{
  margin: 10px 0 20px 0;
}
@media(max-width: 768px) {
  .rec .recomendacion {
    width: 80%;
  }
}
/****** RECOMENDACIONES ******/
.Proximos-eventos {
  width: 100%;
  height: 350px;
  background: url("../img/footer.jpg") no-repeat center center/cover;
  margin-bottom: 40px;
}
.Proximos-eventos .coming-soon {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #ffffff;
}
.Proximos-eventos h2,
.Proximos-eventos p {
  margin: 10px 0 20px 0;
}
/****** FOOTER ******/
.contactanos {
  margin: 50px;
}
.contactanos p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links a {
  margin: 0 15px;
}
.links a i {
  justify-content: center;
  color: #A8A8A8;
  font-size: 1rem;
}
.footer {
  background: #424141;
  color: #A8A8A8;
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
  padding-bottom: 15px;
}

/****** RESPONSIVE ******/
@media (max-width: 768px) {
  .recipe {
    flex: 0 0 calc(33.3% - 1rem);
  }
  .contenedor-recipes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  } 
  .menu-btn{
    display: block;
  }
  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #A8A8A8;
    height: 100%;
    transform: translateX(-400px);
    padding: 30px;
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
}
  .nav-main ul.nav-menu.show{
    transform: translateX(-20px);
  
  }
  .hidden {
    display: none;
  }
  .nav-main ul.nav-menu li{
    padding: 20px;
    font-size: 14px;
  }
  .nav-main ul.nav-menu-izq{
    margin-right: 40px;
  }

  .Noticias {
    grid-template-columns: repeat(2, 2fr);
  }
  .Proximos-eventos .coming-soon {
    width: 80%;
  }
}
